* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  background: white;
  font-family: "Roboto", sans-serif;
  color: black;
  font-size: 12px;
  font-weight: normal;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: black !important;
}

ul,
li {
  list-style: none;
  margin-bottom: 0 !important;
}

.header {
  position: fixed;
  top: 0;
  z-index: 999;
  width: 100%;
  height: 60px;
  background-color: white;
  -webkit-box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
          box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
}

.header .menu-mobile {
  display: none;
}

.header .header-logo {
  width: 20%;
  margin: 0 0 0 20px;
}

.header .header-logo img {
  height: 50px;
  width: 50px;
}

.header .header-menu {
  width: 60%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header .header-menu,
.header .header-user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .header-menu .header-item,
.header .header-user .header-item {
  margin: 0 20px 0 0;
}

.header .header-user {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 20%;
}

@media screen and (max-width: 1024px) {
  .header {
    background-color: white;
    padding: 0 30px;
  }
  .header .header-menu {
    display: none !important;
  }
  .header .header-logo,
  .header .header-user {
    width: 50%;
    margin: 0;
  }
}

@media screen and (max-width: 737px) {
  .header .header-user {
    display: none !important;
  }
  .header .menu-mobile {
    display: block;
  }
  .header .menu-mobile .menu-icon {
    font-size: 30px;
  }
  .header .menu-mobile .menu-overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.541);
    display: none;
    -webkit-animation: fadein linear 0.3s;
            animation: fadein linear 0.3s;
  }
  .header .menu-mobile .nav__mobile {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    width: 70%;
    max-width: 100%;
    background-color: white;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    opacity: 0;
    -webkit-transition: all linear 0.5s;
    transition: all linear 0.5s;
    padding: 20px;
  }
  .header .menu-mobile .nav__mobile .menu-login {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header .menu-mobile .nav__mobile .menu-login .login-left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header .menu-mobile .nav__mobile .menu-login .login-left .login-icon {
    color: #bfbfbf;
    font-size: 36px;
    margin-right: 10px;
  }
  .header .menu-mobile .nav__mobile .menu-login .login-left .login-user {
    font-size: 20px;
  }
  .header .menu-mobile .nav__mobile .menu-login .login-arrow {
    color: #bfbfbf;
    font-size: 25px;
  }
  .header .menu-mobile .nav__mobile .menu-list {
    padding: 0;
  }
  .header .menu-mobile .nav__mobile .menu-list .menu-item {
    padding: 20px 0;
    font-size: 18px;
  }
  .header .menu-mobile .nav__input:checked ~ .menu-overlay {
    display: block;
    z-index: 9;
  }
  .header .menu-mobile .nav__input:checked ~ .nav__mobile {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

.footer {
  background-color: #222;
  padding: 50px 0;
  color: #949494;
}

.footer .footer-container {
  max-width: 940px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 0;
  border-top: 1px solid #4a4a4a;
  border-bottom: 1px solid #4a4a4a;
}

.footer .footer-container .footer-left {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.footer .footer-container .footer-left img {
  border-radius: 8px;
  width: 80px;
  height: auto;
  margin-right: 20px;
}

.footer .footer-container .footer-left .left-info h3 {
  color: white;
}

.footer .footer-container .footer-left .left-info p {
  margin-bottom: 0;
  font-size: 13px;
}

.footer .footer-container .footer-left .left-info p a {
  color: #fb4226 !important;
}

.footer .footer-container .footer-left .left-info p a:hover {
  border-bottom: 1px solid #fb4226;
}

.footer .footer-container .footer-right {
  width: 20%;
}

.footer .footer-container .footer-right img {
  width: 130px;
}

@media screen and (max-width: 1024px) {
  .footer .footer-container {
    padding: 20px 50px;
  }
}

@media screen and (max-width: 768px) {
  .footer .footer-container {
    padding: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer .footer-container .footer-left {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer .footer-container .footer-left .left-info {
    margin: 10px 0;
  }
  .footer .footer-container .footer-right {
    width: 100%;
  }
}

.carousel {
  margin-top: 60px;
}

.carousel .slick-prev {
  z-index: 9;
  left: 25px;
  width: 50px;
  height: 50px;
}

.carousel .slick-next {
  z-index: 9;
  right: 25px;
  width: 50px;
  height: 50px;
}

.carousel .slick-prev:before,
.carousel .slick-next:before {
  font-size: 50px;
}

.carousel .slick-dots {
  bottom: 50px;
}

.carousel .slick-dots .slick-active button:before {
  opacity: 1;
  color: #fb4226;
}

.carousel .slick-dots button:before {
  opacity: 1;
  font-size: 20px;
  color: white;
}

.carousel .carousel-item {
  position: relative;
}

.carousel .carousel-item .carousel-play {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.carousel .carousel-item .carousel-play:hover {
  opacity: 0.7;
  background-color: unset;
}

@media screen and (max-width: 1024px) {
  .carousel .slick-prev,
  .carousel .slick-next {
    display: none !important;
  }
  .carousel .slick-dots {
    bottom: 15px;
  }
  .carousel .carousel-item {
    height: 300px;
  }
}

@media screen and (max-width: 768px) {
  .carousel {
    display: none;
  }
}

.showTime {
  padding-top: 60px !important;
  overflow: unset !important;
  max-width: 940px;
  margin: auto !important;
}

.showTime .ant-tabs-nav::before {
  border-bottom: none !important;
}

.showTime .ant-tabs-nav .ant-tabs-nav-wrap {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.showTime .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  font-size: 22px;
  color: #fa5238;
}

.showTime .ant-tabs-ink-bar {
  background: #fa5238;
}

.showTime .ant-tabs-tab:hover {
  color: #fa5238;
}

.showTime .ant-tabs-tab-btn {
  font-size: 20px;
}

.showTime .slick-prev:before,
.showTime .slick-next:before {
  color: #8f8f8f;
  font-size: 50px;
}

.showTime .slick-prev {
  left: -70px;
  width: 50px;
  height: 50px;
}

.showTime .slick-next {
  right: -70px;
  width: 50px;
  height: 50px;
}

.showTime .showTime-item {
  overflow: hidden;
  padding: 10px;
  height: 400px;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.showTime .showTime-item .item-thumbnail {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 318px;
  width: 100%;
  margin-bottom: 10px;
  position: relative;
  border-radius: 5px;
}

.showTime .showTime-item .item-thumbnail .item-overlay {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  background: 0 0;
  background: -webkit-gradient(linear, left bottom, left top, from(#000), to(transparent));
  background: linear-gradient(to top, #000, transparent 100%);
  top: 0;
  border-radius: 4px;
}

.showTime .showTime-item .item-thumbnail .item-play {
  display: none;
  cursor: pointer;
  width: 60px;
  height: 60px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 3;
  background: 0 0;
  border: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.showTime .showTime-item .item-thumbnail .item-play:hover {
  width: 70px;
  height: 70px;
}

.showTime .showTime-item .item-info {
  position: relative;
  width: 100%;
}

.showTime .showTime-item .item-info .item-name,
.showTime .showTime-item .item-info .item-name2 {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  display: block;
  font-size: 16px;
  color: #000;
  line-height: 22px;
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.showTime .showTime-item .item-info .item-name .item-age,
.showTime .showTime-item .item-info .item-name2 .item-age {
  font-size: 14px;
  background-color: #fb4226;
  border-radius: 4px;
  padding: 0 5px;
  color: #fff;
  min-width: 33px;
  text-align: center;
  display: inline-block;
  margin-right: 8px;
}

.showTime .showTime-item .item-info .item-buyTickets {
  position: absolute;
  bottom: -50px;
  width: 100%;
  left: -200%;
  border-radius: 4px;
  color: #fff;
  font-size: 18px;
  padding: 10px;
  text-align: center;
  background: -webkit-gradient(linear, right top, left top, from(#fb4226), to(#ce3017));
  background: linear-gradient(to left, #fb4226, #ce3017 100%);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.showTime .showTime-item .item-info .item-buyTickets:hover {
  background: -webkit-gradient(linear, left top, right top, from(#fb4226), to(#ce3017));
  background: linear-gradient(to right, #fb4226, #ce3017 100%);
}

.showTime .showTime-item:hover .item-thumbnail .item-play,
.showTime .showTime-item:hover .item-thumbnail .item-overlay {
  display: block;
}

.showTime .showTime-item:hover .item-info .item-name {
  display: none;
}

.showTime .showTime-item:hover .item-info .item-buyTickets {
  left: 0;
}

@media screen and (max-width: 1024px) {
  .showTime {
    padding: 20px !important;
  }
  .showTime .slick-prev,
  .showTime .slick-next {
    display: none !important;
  }
}

@media screen and (max-width: 768px) {
  .showTime {
    padding: 70px 20px 20px !important;
  }
  .showTime .slick-prev,
  .showTime .slick-next {
    display: none !important;
  }
}

.movieTheater {
  max-width: 940px;
  margin: auto;
  background-size: contain;
  background-repeat: no-repeat;
  padding-top: 120px;
}

.movieTheater .movieTheater-container {
  width: 100%;
  border: 1px solid #d1d1d1;
  border-radius: 5px;
  height: 540px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.movieTheater .movieTheater-container .theater-logo {
  height: 100%;
  overflow-y: scroll;
  width: 90px;
}

.movieTheater .movieTheater-container .theater-logo::-webkit-scrollbar {
  display: none;
}

.movieTheater .movieTheater-container .theater-logo .logo-item {
  position: relative;
  cursor: pointer;
  padding: 20px;
  opacity: 0.5;
}

.movieTheater .movieTheater-container .theater-logo .logo-item::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: calc(100% - 40px);
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border-bottom: 1px solid #d1d1d1;
}

.movieTheater .movieTheater-container .theater-logo .logo-item.active {
  opacity: 1;
  background-color: #efefef;
}

.movieTheater .movieTheater-container .theater-cluster {
  height: 100%;
  overflow-y: scroll;
  width: 40%;
  border-left: 1px solid #d1d1d1;
  border-right: 1px solid #d1d1d1;
}

.movieTheater .movieTheater-container .theater-cluster::-webkit-scrollbar {
  display: none;
  width: 3px;
  background-color: #ddd;
}

.movieTheater .movieTheater-container .theater-cluster::-webkit-scrollbar-thumb {
  background-color: #a0a0a0;
}

.movieTheater .movieTheater-container .theater-cluster:hover::-webkit-scrollbar {
  display: block;
}

.movieTheater .movieTheater-container .theater-cluster .cinemaByCode-item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 16px 20px;
  cursor: pointer;
  opacity: 0.5;
}

.movieTheater .movieTheater-container .theater-cluster .cinemaByCode-item::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: calc(100% - 40px);
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border-bottom: 1px solid #d1d1d1;
}

.movieTheater .movieTheater-container .theater-cluster .cinemaByCode-item:hover {
  background-color: #f0f0f0;
}

.movieTheater .movieTheater-container .theater-cluster .cinemaByCode-item .cinemaByCode-logo {
  width: 50px;
  height: 50px;
}

.movieTheater .movieTheater-container .theater-cluster .cinemaByCode-item .cinemaByCode-info {
  width: calc(100% - 60px);
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.movieTheater .movieTheater-container .theater-cluster .cinemaByCode-item .cinemaByCode-info .info-name {
  font-size: 14px;
  font-weight: bold;
  color: #000;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.movieTheater .movieTheater-container .theater-cluster .cinemaByCode-item .cinemaByCode-info .info-address {
  font-size: 12px;
  color: #949494;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.movieTheater .movieTheater-container .theater-cluster .cinemaByCode-item .cinemaByCode-info .info-detail {
  color: #fb4226;
  font-size: 12px;
  margin: 0;
}

.movieTheater .movieTheater-container .theater-cluster .cinemaByCode-item.active {
  opacity: 1;
  background-color: #efefef;
}

.movieTheater .movieTheater-container .theater-showtime {
  width: calc(100% - 40% - 90px);
  height: 100%;
  overflow-y: scroll;
}

.movieTheater .movieTheater-container .theater-showtime::-webkit-scrollbar {
  display: none;
  width: 3px;
  background-color: #ddd;
}

.movieTheater .movieTheater-container .theater-showtime::-webkit-scrollbar-thumb {
  background-color: #a0a0a0;
}

.movieTheater .movieTheater-container .theater-showtime:hover::-webkit-scrollbar {
  display: block;
}

.movieTheater .movieTheater-container .theater-showtime .warning {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 25px;
  height: 100%;
}

.movieTheater .movieTheater-container .theater-showtime .item-info {
  margin: 20px;
  border-bottom: 1px solid #ccc;
}

.movieTheater .movieTheater-container .theater-showtime .item-info .info-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.movieTheater .movieTheater-container .theater-showtime .item-info .info-top img {
  width: 70px;
  height: 70px;
  margin-right: 20px;
}

.movieTheater .movieTheater-container .theater-showtime .item-info .info-top .top-name {
  margin: 0;
}

.movieTheater .movieTheater-container .theater-showtime .item-info .info-bottom {
  padding: 10px 0;
}

.movieTheater .movieTheater-container .theater-showtime .item-info .info-bottom .btn-time {
  color: #fb4226;
  border-color: #fb4226;
  font-size: 15px;
  margin: 0 10px 10px 0;
}

.movieTheater .movieTheater-container .theater-showtime .item-info .info-bottom .btn-time:hover {
  color: white;
  background-color: #fb4226;
}

@media screen and (max-width: 1024px) {
  .movieTheater {
    padding: 50px 20px 0;
  }
}

@media screen and (max-width: 768px) {
  .movieTheater .movieTheater-container {
    height: 750px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .movieTheater .movieTheater-container .theater-logo {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow-x: scroll;
    height: unset;
    min-height: 90px;
  }
  .movieTheater .movieTheater-container .theater-cluster {
    width: 100%;
    border-left: unset;
    border-right: unset;
    border-top: 1px solid #d1d1d1;
    border-bottom: 1px solid #d1d1d1;
  }
  .movieTheater .movieTheater-container .theater-showtime {
    width: 100%;
  }
}

.news {
  max-width: 940px;
  margin: auto;
  background-size: contain;
  background-repeat: no-repeat;
  padding-top: 120px;
}

.news .news-tabs .ant-tabs-nav::before {
  border-bottom: none !important;
}

.news .news-tabs .ant-tabs-nav .ant-tabs-nav-wrap {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.news .news-tabs .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  font-size: 22px;
  color: #fa5238;
}

.news .news-tabs .ant-tabs-ink-bar {
  background: #fa5238;
}

.news .news-tabs .ant-tabs-tab-btn {
  font-size: 20px;
}

.news .news-tabs .ant-tabs-tab:hover {
  color: #fa5238;
}

@media screen and (max-width: 1024px) {
  .news {
    padding: 50px 20px 0;
  }
}

@media screen and (max-width: 768px) {
  .news .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
    font-size: 15px !important;
  }
}

.film24h .listItem {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 49% 49%;
      grid-template-columns: 49% 49%;
  gap: 15px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.film24h .listItem .film24h-item img {
  border-radius: 5px;
  width: 100%;
  margin-bottom: 10px;
}

.film24h .listItem .film24h-item .item-title {
  cursor: pointer;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 20px;
  font-size: 16px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  margin-bottom: 5px;
}

.film24h .listItem .film24h-item .item-title:hover {
  color: #fb4226;
}

.film24h .listItem .film24h-item .item-detail {
  font-size: 13px;
  color: #4a4a4a;
  padding: 0 5px 0 0;
  margin: 0 !important;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.film24h .seeMore {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  margin: 20px auto;
  background-color: transparent;
  font-size: 14px;
  color: #949494;
  border: 1px solid #949494;
  border-radius: 4px;
  padding: 7px 25px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.film24h .seeMore:hover {
  background-color: #fb4226;
  border-color: #fb4226;
  color: #fff !important;
}

.application {
  padding: 120px 0 80px 0;
  background-size: contain;
  background-repeat: no-repeat;
  background-size: cover;
}

.application .app-container {
  max-width: 940px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.application .app-container .app-left {
  width: 50%;
}

.application .app-container .app-left h2 {
  font-size: 32px;
  color: #fff;
}

.application .app-container .app-left p {
  font-size: 16px;
  color: #fff;
}

.application .app-container .app-left a {
  background-color: #fb4226;
  padding: 10px 20px;
  color: #fff !important;
  font-size: medium;
  font-weight: 700;
  border: none;
  border-radius: 4px;
}

.application .app-container .app-right {
  position: relative;
  width: 50%;
}

.application .app-container .app-right .app-mobile {
  padding: 0 28%;
  width: 100%;
}

.application .app-container .app-right .app-slider {
  position: absolute;
  padding: 1.5% 29.3% 0 29.3%;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
}

.application .app-container .app-right .app-slider .slick-list {
  border-radius: 20px;
}

.application .app-container .app-right .app-slider .slick-list .carousel-item img {
  width: 100%;
}

@media screen and (max-width: 1024px) {
  .application .app-container {
    padding: 0px 50px;
  }
}

@media screen and (max-width: 768px) {
  .application {
    padding: 20px;
  }
  .application .app-container {
    padding: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .application .app-container .app-left,
  .application .app-container .app-right {
    width: 100%;
  }
  .application .app-container .app-left {
    margin-bottom: 20px;
  }
}
/*# sourceMappingURL=main.css.map */