.footer {
  background-color: #222;
  padding: 50px 0;
  color: #949494;
  .footer-container {
    max-width: 940px;
    margin: auto;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 20px 0;
    border-top: 1px solid #4a4a4a;
    border-bottom: 1px solid #4a4a4a;
    .footer-left {
      width: 80%;
      display: flex;
      align-items: flex-start;
      img {
        border-radius: 8px;
        width: 80px;
        height: auto;
        margin-right: 20px;
      }
      .left-info {
        h3 {
          color: white;
        }
        p {
          margin-bottom: 0;
          font-size: 13px;
          a {
            color: #fb4226 !important;
            &:hover {
              border-bottom: 1px solid #fb4226;
            }
          }
        }
      }
    }
    .footer-right {
      width: 20%;
      img {
        width: 130px;
      }
    }
  }
}
@media screen and (max-width: 1024px) {
  .footer {
    .footer-container {
      padding: 20px 50px;
    }
  }
}
@media screen and (max-width: 768px) {
  .footer {
    .footer-container {
      padding: 20px;
      flex-direction: column;
      .footer-left {
        width: 100%;
        flex-direction: column;
        .left-info {
          margin: 10px 0;
        }
      }
      .footer-right {
        width: 100%;
      }
    }
  }
}
