* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  background: white;
  font-family: "Roboto", sans-serif;
  color: black;
  font-size: 12px;
  font-weight: normal;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

ul,
li {
  list-style: none;
  margin-bottom: 0 !important;
}

.sk-cube-grid {
  margin: auto;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 40px;
  height: 40px;
}

.sk-cube-grid .sk-cube {
  width: 33%;
  height: 33%;
  background-color: #fa5238;
  float: left;
  -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
  animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
}

.sk-cube-grid .sk-cube1 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

.sk-cube-grid .sk-cube2 {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

.sk-cube-grid .sk-cube3 {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

.sk-cube-grid .sk-cube4 {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}

.sk-cube-grid .sk-cube5 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

.sk-cube-grid .sk-cube6 {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

.sk-cube-grid .sk-cube7 {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}

.sk-cube-grid .sk-cube8 {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}

.sk-cube-grid .sk-cube9 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

.header {
  position: fixed;
  top: 0;
  z-index: 999;
  width: 100%;
  height: 60px;
  background-color: white;
  -webkit-box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
          box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
}

.header .menu-mobile {
  display: none;
}

.header .header-logo {
  width: 20%;
  margin: 0 0 0 20px;
}

.header .header-logo img {
  height: 50px;
  width: 50px;
}

.header .header-menu {
  width: 60%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header .header-menu,
.header .header-user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .header-menu .user-logo,
.header .header-user .user-logo {
  font-size: 30px;
  color: gray;
  margin-right: 10px;
}

.header .header-menu .header-item,
.header .header-user .header-item {
  cursor: pointer;
  margin: 0 20px 0 0;
}

.header .header-menu .header-item a,
.header .header-user .header-item a {
  color: black;
}

.header .header-menu .header-item-signin,
.header .header-user .header-item-signin {
  color: red !important;
}

.header .header-user {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 20%;
}

@media screen and (max-width: 1024px) {
  .header {
    background-color: white;
    padding: 0 30px;
  }
  .header .header-menu {
    display: none !important;
  }
  .header .header-logo,
  .header .header-user {
    width: 50%;
    margin: 0;
  }
}

@media screen and (max-width: 737px) {
  .header .header-user {
    display: none !important;
  }
  .header .menu-mobile {
    display: block;
  }
  .header .menu-mobile .menu-icon {
    font-size: 30px;
  }
  .header .menu-mobile .menu-overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.541);
    display: none;
    -webkit-animation: fadein linear 0.3s;
            animation: fadein linear 0.3s;
  }
  .header .menu-mobile .nav__mobile {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    width: 70%;
    max-width: 100%;
    background-color: white;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    opacity: 0;
    -webkit-transition: all linear 0.5s;
    transition: all linear 0.5s;
    padding: 20px;
  }
  .header .menu-mobile .nav__mobile .menu-login {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header .menu-mobile .nav__mobile .menu-login .login-left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header .menu-mobile .nav__mobile .menu-login .login-left .user-logo {
    margin-right: 10px;
  }
  .header .menu-mobile .nav__mobile .menu-login .login-left .user-name {
    color: red;
  }
  .header .menu-mobile .nav__mobile .menu-login .login-left .login-icon {
    color: #bfbfbf;
    font-size: 36px;
    margin-right: 10px;
  }
  .header .menu-mobile .nav__mobile .menu-login .login-left .login-user {
    font-size: 20px;
  }
  .header .menu-mobile .nav__mobile .menu-login .login-arrow {
    color: #bfbfbf;
    font-size: 25px;
  }
  .header .menu-mobile .nav__mobile .menu-list {
    padding: 0;
  }
  .header .menu-mobile .nav__mobile .menu-list .menu-item {
    padding: 20px 0;
    font-size: 18px;
  }
  .header .menu-mobile .nav__input:checked ~ .menu-overlay {
    display: block;
    z-index: 9;
  }
  .header .menu-mobile .nav__input:checked ~ .nav__mobile {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

.footer {
  background-color: #222;
  padding: 50px 0;
  color: #949494;
}

.footer .footer-container {
  max-width: 940px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 0;
  border-top: 1px solid #4a4a4a;
  border-bottom: 1px solid #4a4a4a;
}

.footer .footer-container .footer-left {
  width: 80%;
}

.footer .footer-container .footer-left h3 {
  color: white;
}

.footer .footer-container .footer-left p {
  margin-bottom: 0;
  font-size: 13px;
}

.footer .footer-container .footer-left p a {
  color: #fb4226 !important;
}

.footer .footer-container .footer-left p a:hover {
  border-bottom: 1px solid #fb4226;
}

.footer .footer-container .footer-right {
  width: 20%;
}

.footer .footer-container .footer-right img {
  width: 130px;
}

@media screen and (max-width: 1024px) {
  .footer .footer-container {
    padding: 20px 50px;
  }
}

@media screen and (max-width: 768px) {
  .footer .footer-container {
    padding: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer .footer-container .footer-left {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer .footer-container .footer-left .left-info {
    margin: 10px 0;
  }
  .footer .footer-container .footer-right {
    width: 100%;
  }
}

.carousel {
  margin-top: 60px;
}

.carousel .slick-prev {
  z-index: 9;
  left: 25px;
  width: 50px;
  height: 50px;
}

.carousel .slick-next {
  z-index: 9;
  right: 25px;
  width: 50px;
  height: 50px;
}

.carousel .slick-prev:before,
.carousel .slick-next:before {
  font-size: 50px;
}

.carousel .slick-dots {
  bottom: 50px;
}

.carousel .slick-dots .slick-active button:before {
  opacity: 1;
  color: #fb4226;
}

.carousel .slick-dots button:before {
  opacity: 1;
  font-size: 20px;
  color: white;
}

.carousel .carousel-item {
  position: relative;
  height: 800px;
}

.carousel .carousel-item .carousel-background {
  height: 100%;
  width: 100%;
}

.carousel .carousel-item .carousel-play {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.carousel .carousel-item .carousel-play:hover {
  opacity: 0.7;
  background-color: unset;
}

@media screen and (max-width: 1024px) {
  .carousel .slick-prev,
  .carousel .slick-next {
    display: none !important;
  }
  .carousel .slick-dots {
    bottom: 15px;
  }
  .carousel .carousel-item {
    height: 300px;
  }
  .css-1xp487g {
    width: 90% !important;
    height: 400px !important;
  }
}

@media screen and (max-width: 768px) {
  .carousel {
    display: none;
  }
}

.showTime {
  padding-top: 60px !important;
  overflow: unset !important;
  max-width: 940px;
  margin: auto !important;
}

.showTime .ant-tabs-nav::before {
  border-bottom: none !important;
}

.showTime .ant-tabs-nav .ant-tabs-nav-wrap {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.showTime .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  font-size: 22px;
  color: #fa5238;
}

.showTime .ant-tabs-ink-bar {
  background: #fa5238;
}

.showTime .ant-tabs-tab:hover {
  color: #fa5238;
}

.showTime .ant-tabs-tab-btn {
  font-size: 20px;
}

.showTime .slick-prev:before,
.showTime .slick-next:before {
  color: #8f8f8f;
  font-size: 50px;
}

.showTime .slick-prev {
  left: -70px;
  width: 50px;
  height: 50px;
}

.showTime .slick-next {
  right: -70px;
  width: 50px;
  height: 50px;
}

.showTime .showTime-item {
  overflow: hidden;
  padding: 10px;
  height: 400px;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.showTime .showTime-item .item-thumbnail {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 85%;
  width: 100%;
  margin-bottom: 10px;
  position: relative;
  border-radius: 5px;
}

.showTime .showTime-item .item-thumbnail .item-overlay {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  background: 0 0;
  background: -webkit-gradient(linear, left bottom, left top, from(#000), to(transparent));
  background: linear-gradient(to top, #000, transparent 100%);
  top: 0;
  border-radius: 4px;
}

.showTime .showTime-item .item-thumbnail .item-play {
  display: none;
  cursor: pointer;
  width: 60px;
  height: 60px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 3;
  background: 0 0;
  border: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.showTime .showTime-item .item-thumbnail .item-play:hover {
  width: 70px;
  height: 70px;
}

.showTime .showTime-item .item-info {
  position: relative;
  width: 100%;
}

.showTime .showTime-item .item-info .item-name,
.showTime .showTime-item .item-info .item-name2 {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  display: block;
  font-size: 16px;
  color: #000;
  line-height: 22px;
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.showTime .showTime-item .item-info .item-name .item-age,
.showTime .showTime-item .item-info .item-name2 .item-age {
  font-size: 14px;
  background-color: #fb4226;
  border-radius: 4px;
  padding: 0 5px;
  color: #fff;
  min-width: 33px;
  text-align: center;
  display: inline-block;
  margin-right: 8px;
}

.showTime .showTime-item .item-info .item-buyTickets {
  position: absolute;
  bottom: -50px;
  width: 100%;
  left: -200%;
  border-radius: 4px;
  color: #fff !important;
  font-size: 18px;
  padding: 10px;
  text-align: center;
  background-image: -webkit-gradient(linear, left top, right top, from(#fbce37), color-stop(51%, #fb4226), to(#fbce37));
  background-image: linear-gradient(to right, #fbce37 0%, #fb4226 51%, #fbce37 100%);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-size: 200% auto;
}

.showTime .showTime-item .item-info .item-buyTickets:hover {
  background-position: right center;
}

.showTime .showTime-item:hover .item-thumbnail .item-play,
.showTime .showTime-item:hover .item-thumbnail .item-overlay {
  display: block;
}

.showTime .showTime-item:hover .item-info .item-name {
  display: none;
}

.showTime .showTime-item:hover .item-info .item-buyTickets {
  left: 0;
}

@media screen and (max-width: 1024px) {
  .showTime {
    padding: 20px !important;
  }
  .showTime .slick-prev,
  .showTime .slick-next {
    display: none !important;
  }
}

@media screen and (max-width: 768px) {
  .showTime {
    padding: 70px 20px 20px !important;
  }
  .showTime .slick-prev,
  .showTime .slick-next {
    display: none !important;
  }
  .showTime .showTime-item {
    height: 500px;
  }
}

.movieTheater {
  max-width: 940px;
  margin: auto;
  background-size: contain;
  background-repeat: no-repeat;
  padding-top: 120px;
}

.movieTheater .movieTheater-container {
  width: 100%;
  border: 1px solid #d1d1d1;
  border-radius: 5px;
  height: 540px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.movieTheater .movieTheater-container .theater-logo {
  height: 100%;
  overflow-y: scroll;
  width: 90px;
}

.movieTheater .movieTheater-container .theater-logo::-webkit-scrollbar {
  display: none;
}

.movieTheater .movieTheater-container .theater-logo .logo-item {
  position: relative;
  cursor: pointer;
  padding: 20px;
  opacity: 0.5;
}

.movieTheater .movieTheater-container .theater-logo .logo-item::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: calc(100% - 40px);
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border-bottom: 1px solid #d1d1d1;
}

.movieTheater .movieTheater-container .theater-logo .logo-item.active {
  opacity: 1;
  background-color: #efefef;
}

.movieTheater .movieTheater-container .theater-logo .logo-item.active::after {
  border-bottom: 2px solid #fb4226;
  -webkit-box-shadow: 0 -3px 10px 0 #fb4226;
          box-shadow: 0 -3px 10px 0 #fb4226;
}

.movieTheater .movieTheater-container .theater-cluster {
  height: 100%;
  overflow-y: scroll;
  width: 40%;
  border-left: 1px solid #d1d1d1;
  border-right: 1px solid #d1d1d1;
}

.movieTheater .movieTheater-container .theater-cluster::-webkit-scrollbar {
  display: none;
  width: 3px;
  background-color: #ddd;
}

.movieTheater .movieTheater-container .theater-cluster::-webkit-scrollbar-thumb {
  background-color: #a0a0a0;
}

.movieTheater .movieTheater-container .theater-cluster:hover::-webkit-scrollbar {
  display: block;
}

.movieTheater .movieTheater-container .theater-cluster .cinemaByCode-item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 16px 20px;
  cursor: pointer;
  opacity: 0.5;
}

.movieTheater .movieTheater-container .theater-cluster .cinemaByCode-item::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: calc(100% - 40px);
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border-bottom: 1px solid #d1d1d1;
}

.movieTheater .movieTheater-container .theater-cluster .cinemaByCode-item:hover {
  background-color: #f0f0f0;
}

.movieTheater .movieTheater-container .theater-cluster .cinemaByCode-item .cinemaByCode-logo {
  width: 50px;
  height: 50px;
}

.movieTheater .movieTheater-container .theater-cluster .cinemaByCode-item .cinemaByCode-info {
  width: calc(100% - 60px);
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.movieTheater .movieTheater-container .theater-cluster .cinemaByCode-item .cinemaByCode-info .info-name {
  font-size: 14px;
  font-weight: bold;
  color: #000;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.movieTheater .movieTheater-container .theater-cluster .cinemaByCode-item .cinemaByCode-info .info-address {
  font-size: 12px;
  color: #949494;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.movieTheater .movieTheater-container .theater-cluster .cinemaByCode-item .cinemaByCode-info .info-detail {
  color: #fb4226;
  font-size: 12px;
  margin: 0;
}

.movieTheater .movieTheater-container .theater-cluster .cinemaByCode-item.active {
  opacity: 1;
  background-color: #efefef;
}

.movieTheater .movieTheater-container .theater-cluster .cinemaByCode-item.active::after {
  border-bottom: 2px solid #fb4226;
  -webkit-box-shadow: 0 -3px 10px 0 #fb4226;
          box-shadow: 0 -3px 10px 0 #fb4226;
}

.movieTheater .movieTheater-container .theater-showtime {
  width: calc(100% - 40% - 90px);
  height: 100%;
  overflow-y: scroll;
}

.movieTheater .movieTheater-container .theater-showtime::-webkit-scrollbar {
  display: none;
  width: 3px;
  background-color: #ddd;
}

.movieTheater .movieTheater-container .theater-showtime::-webkit-scrollbar-thumb {
  background-color: #a0a0a0;
}

.movieTheater .movieTheater-container .theater-showtime:hover::-webkit-scrollbar {
  display: block;
}

.movieTheater .movieTheater-container .theater-showtime .warning {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 25px;
  height: 100%;
}

.movieTheater .movieTheater-container .theater-showtime .item-info {
  margin: 20px;
  border-bottom: 1px solid #ccc;
}

.movieTheater .movieTheater-container .theater-showtime .item-info .info-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.movieTheater .movieTheater-container .theater-showtime .item-info .info-top img {
  width: 70px;
  height: 70px;
  margin-right: 20px;
}

.movieTheater .movieTheater-container .theater-showtime .item-info .info-top .top-name {
  margin: 0;
}

.movieTheater .movieTheater-container .theater-showtime .item-info .info-bottom {
  padding: 10px 0;
}

.movieTheater .movieTheater-container .theater-showtime .item-info .info-bottom .btn-time {
  color: black;
  display: inline-block;
  font-weight: bold;
  font-size: 15px;
  margin: 0 10px 10px 0;
  padding: 5px 17px;
  border-radius: 4px;
  background-image: -webkit-gradient(linear, left top, right top, from(#f6cb3b), color-stop(51%, #ff6048e1), to(#fbce37));
  background-image: linear-gradient(to right, #f6cb3b 0%, #ff6048e1 51%, #fbce37 100%);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-size: 200% auto;
}

.movieTheater .movieTheater-container .theater-showtime .item-info .info-bottom .btn-time:hover {
  background-position: right center;
}

@media screen and (max-width: 1024px) {
  .movieTheater {
    padding: 50px 20px 0;
  }
}

@media screen and (max-width: 768px) {
  .movieTheater .movieTheater-container {
    height: 750px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .movieTheater .movieTheater-container .theater-logo {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow-x: scroll;
    height: unset;
    min-height: 90px;
  }
  .movieTheater .movieTheater-container .theater-cluster {
    width: 100%;
    border-left: unset;
    border-right: unset;
    border-top: 1px solid #d1d1d1;
    border-bottom: 1px solid #d1d1d1;
  }
  .movieTheater .movieTheater-container .theater-showtime {
    width: 100%;
  }
}

.news {
  max-width: 940px;
  margin: auto;
  background-size: contain;
  background-repeat: no-repeat;
  padding-top: 120px;
}

.news .news-tabs .ant-tabs-nav::before {
  border-bottom: none !important;
}

.news .news-tabs .ant-tabs-nav .ant-tabs-nav-wrap {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.news .news-tabs .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  font-size: 22px;
  color: #fa5238;
}

.news .news-tabs .ant-tabs-ink-bar {
  background: #fa5238;
}

.news .news-tabs .ant-tabs-tab-btn {
  font-size: 20px;
}

.news .news-tabs .ant-tabs-tab:hover {
  color: #fa5238;
}

@media screen and (max-width: 1024px) {
  .news {
    padding: 50px 20px 0;
  }
}

@media screen and (max-width: 768px) {
  .news .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
    font-size: 15px !important;
  }
}

.film24h .listItem {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 49% 49%;
      grid-template-columns: 49% 49%;
  gap: 15px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.film24h .listItem .film24h-item img {
  border-radius: 5px;
  width: 100%;
  margin-bottom: 10px;
}

.film24h .listItem .film24h-item .item-title {
  cursor: pointer;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 20px;
  font-size: 16px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  margin-bottom: 5px;
}

.film24h .listItem .film24h-item .item-title:hover {
  color: #fb4226;
}

.film24h .listItem .film24h-item .item-detail {
  font-size: 13px;
  color: #4a4a4a;
  padding: 0 5px 0 0;
  margin: 0 !important;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.film24h .seeMore {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  margin: 20px auto;
  background-color: transparent;
  font-size: 14px;
  color: #949494;
  border: 1px solid #949494;
  border-radius: 4px;
  padding: 7px 25px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.film24h .seeMore:hover {
  background-color: #fb4226;
  border-color: #fb4226;
  color: #fff !important;
}

.application {
  padding: 120px 0 80px 0;
  background-size: contain;
  background-repeat: no-repeat;
  background-size: cover;
}

.application .app-container {
  max-width: 940px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.application .app-container .app-left {
  width: 50%;
}

.application .app-container .app-left h2 {
  font-size: 32px;
  color: #fff;
}

.application .app-container .app-left p {
  font-size: 16px;
  color: #fff;
}

.application .app-container .app-left a {
  display: inline-block;
  background-color: #fb4226;
  padding: 10px 20px;
  color: #fff !important;
  font-size: medium;
  font-weight: 700;
  border: none;
  border-radius: 4px;
}

.application .app-container .app-right {
  position: relative;
  width: 50%;
}

.application .app-container .app-right .app-mobile {
  padding: 0 28%;
  width: 100%;
}

.application .app-container .app-right .app-slider {
  position: absolute;
  padding: 1.5% 29.3% 0 29.3%;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
}

.application .app-container .app-right .app-slider .slick-list {
  border-radius: 20px;
}

.application .app-container .app-right .app-slider .slick-list .carousel-item img {
  width: 100%;
}

@media screen and (max-width: 1024px) {
  .application .app-container {
    padding: 0px 50px;
  }
}

@media screen and (max-width: 768px) {
  .application {
    padding: 20px;
  }
  .application .app-container {
    padding: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .application .app-container .app-left,
  .application .app-container .app-right {
    width: 100%;
  }
  .application .app-container .app-left {
    text-align: center;
    margin-bottom: 20px;
  }
}

.signInUp {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-size: contain;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.signInUp .signInUp_form {
  background-color: white;
  padding: 30px 20px;
  border-radius: 10px;
  width: 400px;
}

.signInUp .signInUp_form .signInUp_form-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  width: 50px;
  height: 50px;
}

.signInUp .signInUp_form .signInUp_form-title {
  text-align: center;
  font-size: 30px;
  font-weight: normal;
  color: black;
  margin-bottom: 20px;
}

.signInUp .signInUp_form .signInUp_form-input {
  margin-bottom: 20px;
}

.signInUp .signInUp_form .signInUp_form-input .input-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid rgba(187, 185, 185, 0.233);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 20px;
  background-color: #f5f6f7;
  padding: 10px 15px;
}

.signInUp .signInUp_form .signInUp_form-input .input-container i {
  color: #acacac;
}

.signInUp .signInUp_form .signInUp_form-input .input-container .form-control {
  background: none;
  outline: none;
  border: none;
  font-size: 15px;
  font-weight: normal;
}

.signInUp .signInUp_form .signInUp_form-input .input-container .form-control:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.signInUp .signInUp_form .signInUp_form-input .error-message {
  color: red;
  font-style: italic;
}

.signInUp .signInUp_form .btn_signInUp {
  width: 100%;
  font-size: 16px;
  font-weight: 600;
  padding: 10px;
  margin-bottom: 20px;
  color: #fff;
  cursor: pointer;
  text-align: center;
  border: none;
  background-size: 300% 100%;
  border-radius: 50px;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  background-image: -webkit-gradient(linear, left top, right top, from(#6253e1), color-stop(#852d91), color-stop(#a3a1ff), to(#f24645));
  background-image: linear-gradient(to right, #6253e1, #852d91, #a3a1ff, #f24645);
  -webkit-box-shadow: 0 4px 15px 0 rgba(126, 52, 161, 0.75);
          box-shadow: 0 4px 15px 0 rgba(126, 52, 161, 0.75);
}

.signInUp .signInUp_form .btn_signInUp:hover {
  background-position: 100% 0;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.signInUp .signInUp_form .signInUp_form-note {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  text-align: right;
}

.signInUp .signInUp_form .signInUp_form-note p {
  margin: 0;
  font-size: 12px;
}

.signInUp .signInUp_form .signInUp_form-note .signUp {
  color: #1890ff !important;
  font-size: 12px;
}

.signInUp .signInUp_form .signInUp_form-note .signUp:hover {
  color: black;
  text-decoration: underline;
}

@media screen and (max-width: 576px) {
  .signInUp .signInUp_form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 100%;
    width: 100%;
    border-radius: 0;
  }
}

.movieDetails .movieDetailsInfo {
  position: relative;
  margin-top: 60px;
  height: 100vh;
  background-color: black;
}

.movieDetails .movieDetailsInfo .movieDetailsInfo-blur {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-size: contain;
  background-position: center;
  -webkit-filter: blur(4px);
          filter: blur(4px);
  overflow: hidden;
}

.movieDetails .movieDetailsInfo .movieDetailsInfo-container {
  position: absolute;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -40%);
          transform: translate(-50%, -40%);
  width: 940px;
  height: 100%;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.movieDetails .movieDetailsInfo .movieDetailsInfo-container .movieDetailsInfo-left {
  height: 100%;
  width: 65%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.movieDetails .movieDetailsInfo .movieDetailsInfo-container .movieDetailsInfo-left .left-img {
  height: 320px;
  width: 38%;
  border-radius: 5px;
  background-position: center, 0 0;
  background-size: cover;
  background-repeat: no-repeat, repeat-y;
}

.movieDetails .movieDetailsInfo .movieDetailsInfo-container .movieDetailsInfo-left .left-info {
  width: 60%;
}

.movieDetails .movieDetailsInfo .movieDetailsInfo-container .movieDetailsInfo-left .left-info .info-date,
.movieDetails .movieDetailsInfo .movieDetailsInfo-container .movieDetailsInfo-left .left-info .info-times {
  color: #e9e9e9;
  font-size: 14px;
  margin: 0;
}

.movieDetails .movieDetailsInfo .movieDetailsInfo-container .movieDetailsInfo-left .left-info .info-name {
  color: #e9e9e9;
  font-size: 24px;
}

.movieDetails .movieDetailsInfo .movieDetailsInfo-container .movieDetailsInfo-left .left-info .info-name p {
  margin: 6px 6px 0 0;
  display: inline;
  background-color: #fb4226;
  color: #fff;
  font-size: 16px;
  border-radius: 4px;
  padding: 0 5px;
  display: inline-block;
  text-align: center;
  min-width: 33px;
}

.movieDetails .movieDetailsInfo .movieDetailsInfo-container .movieDetailsInfo-left .left-info .info-btn {
  display: inline-block;
  font-weight: bold;
  margin-top: 10px;
  font-size: 16px;
  border-radius: 4px;
  text-align: center;
  background: 0 0;
  padding: 7px 25px;
  border: none;
  color: #fff !important;
  background-image: -webkit-gradient(linear, left top, right top, from(#f6cb3b), color-stop(51%, #ff6048e1), to(#fbce37));
  background-image: linear-gradient(to right, #f6cb3b 0%, #ff6048e1 51%, #fbce37 100%);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-size: 200% auto;
}

.movieDetails .movieDetailsInfo .movieDetailsInfo-container .movieDetailsInfo-left .left-info .info-btn:hover {
  background-position: right center;
}

.movieDetails .movieDetailsInfo .movieDetailsInfo-container .movieDetailsInfo-right {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.movieDetails .movieDetailsInfo .movieDetailsInfo-container .movieDetailsInfo-right .right-circular {
  width: 40%;
}

.movieDetails .movieDetailsInfo .movieDetailsInfo-container .movieDetailsInfo-right .right-circular .CircularProgressbar-trail {
  stroke: #3a3a3a;
}

.movieDetails .movieDetailsInfo .movieDetailsInfo-container .movieDetailsInfo-right .right-circular .CircularProgressbar-path {
  stroke: #66cc33;
}

.movieDetails .movieDetailsInfo .movieDetailsInfo-container .movieDetailsInfo-right .right-circular .CircularProgressbar-text {
  fill: white;
  font-size: 35px;
  font-weight: bold;
}

.movieDetails .movieDetailsInfo .movieDetailsInfo-container .movieDetailsInfo-right .right-star {
  text-align: center;
  margin: 10px 0;
  font-size: 15px;
  color: #fb4226;
}

.movieDetails .movieDetailsInfo .movieDetailsInfo-container .movieDetailsInfo-right .right-reviews {
  font-size: 15px;
  color: white;
}

.movieDetails .movieDetailsShowTime {
  padding: 50px 0;
  background-color: black;
  color: white;
}

.movieDetails .movieDetailsShowTime .movieDetailsShowTime-container {
  margin: auto;
  max-width: 700px;
}

.movieDetails .movieDetailsShowTime .movieDetailsShowTime-container .showTime-details {
  color: white;
}

.movieDetails .movieDetailsShowTime .movieDetailsShowTime-container .showTime-details .showTime-container {
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.movieDetails .movieDetailsShowTime .movieDetailsShowTime-container .showTime-details .showTime-container .showTime-logo {
  height: 400px;
  min-width: 90px;
  overflow-y: scroll;
}

.movieDetails .movieDetailsShowTime .movieDetailsShowTime-container .showTime-details .showTime-container .showTime-logo::-webkit-scrollbar {
  display: none;
}

.movieDetails .movieDetailsShowTime .movieDetailsShowTime-container .showTime-details .showTime-container .showTime-logo .logo-item {
  position: relative;
  padding: 20px;
  cursor: pointer;
  opacity: 0.5;
}

.movieDetails .movieDetailsShowTime .movieDetailsShowTime-container .showTime-details .showTime-container .showTime-logo .logo-item::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: calc(100% - 40px);
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border-bottom: 1px solid #d1d1d1;
}

.movieDetails .movieDetailsShowTime .movieDetailsShowTime-container .showTime-details .showTime-container .showTime-logo .logo-item.active {
  opacity: 1;
  background-color: #efefef;
}

.movieDetails .movieDetailsShowTime .movieDetailsShowTime-container .showTime-details .showTime-container .showTime-logo .logo-item.active::after {
  border-bottom: 2px solid #fb4226;
  -webkit-box-shadow: 0 -3px 10px 0 #fb4226;
          box-shadow: 0 -3px 10px 0 #fb4226;
}

.movieDetails .movieDetailsShowTime .movieDetailsShowTime-container .showTime-details .showTime-container .showTime-cinema {
  height: 400px;
  overflow-y: scroll;
  border-left: 1px solid #d1d1d1;
  width: calc(100% - 50px);
}

.movieDetails .movieDetailsShowTime .movieDetailsShowTime-container .showTime-details .showTime-container .showTime-cinema::-webkit-scrollbar {
  display: none;
  width: 5px;
  background-color: #ddd;
}

.movieDetails .movieDetailsShowTime .movieDetailsShowTime-container .showTime-details .showTime-container .showTime-cinema::-webkit-scrollbar-thumb {
  background-color: #a0a0a0;
}

.movieDetails .movieDetailsShowTime .movieDetailsShowTime-container .showTime-details .showTime-container .showTime-cinema:hover::-webkit-scrollbar {
  display: block;
}

.movieDetails .movieDetailsShowTime .movieDetailsShowTime-container .showTime-details .showTime-container .showTime-cinema .theater-item {
  margin: 20px;
  border-bottom: 1px solid #ccc;
}

.movieDetails .movieDetailsShowTime .movieDetailsShowTime-container .showTime-details .showTime-container .showTime-cinema .theater-item .info-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.movieDetails .movieDetailsShowTime .movieDetailsShowTime-container .showTime-details .showTime-container .showTime-cinema .theater-item .info-top img {
  width: 70px;
  height: 70px;
  margin-right: 20px;
}

.movieDetails .movieDetailsShowTime .movieDetailsShowTime-container .showTime-details .showTime-container .showTime-cinema .theater-item .info-top .top-name {
  margin: 0;
}

.movieDetails .movieDetailsShowTime .movieDetailsShowTime-container .showTime-details .showTime-container .showTime-cinema .theater-item .info-top .top-rate {
  font-size: 12px;
  color: #9b9b9b;
}

.movieDetails .movieDetailsShowTime .movieDetailsShowTime-container .showTime-details .showTime-container .showTime-cinema .theater-item .info-bottom {
  padding: 10px 0;
}

.movieDetails .movieDetailsShowTime .movieDetailsShowTime-container .showTime-details .showTime-container .showTime-cinema .theater-item .info-bottom .btn-time {
  color: black;
  display: inline-block;
  font-weight: bold;
  font-size: 15px;
  margin: 0 10px 10px 0;
  padding: 5px 17px;
  border-radius: 4px;
  background-image: -webkit-gradient(linear, left top, right top, from(#f6cb3b), color-stop(51%, #ff6048e1), to(#fbce37));
  background-image: linear-gradient(to right, #f6cb3b 0%, #ff6048e1 51%, #fbce37 100%);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-size: 200% auto;
}

.movieDetails .movieDetailsShowTime .movieDetailsShowTime-container .showTime-details .showTime-container .showTime-cinema .theater-item .info-bottom .btn-time:hover {
  background-position: right center;
}

.movieDetails .movieDetailsShowTime .movieDetailsShowTime-container .showTime-details .info-content .info-content-left .row,
.movieDetails .movieDetailsShowTime .movieDetailsShowTime-container .showTime-details .info-content .info-content-right .row {
  margin-bottom: 20px;
}

.movieDetails .movieDetailsShowTime .movieDetailsShowTime-container .showTime-details .info-content .info-content-left .row .title,
.movieDetails .movieDetailsShowTime .movieDetailsShowTime-container .showTime-details .info-content .info-content-right .row .title {
  font-weight: bold;
  font-size: 17px;
  color: white;
}

.movieDetails .movieDetailsShowTime .movieDetailsShowTime-container .showTime-details .info-content .info-content-left .row .content,
.movieDetails .movieDetailsShowTime .movieDetailsShowTime-container .showTime-details .info-content .info-content-right .row .content {
  font-weight: normal;
  font-size: 14px;
  color: #dadada;
}

.movieDetails .movieDetailsShowTime .movieDetailsShowTime-container .showTime-details .ant-tabs-nav::before {
  border-bottom: none !important;
}

.movieDetails .movieDetailsShowTime .movieDetailsShowTime-container .showTime-details .ant-tabs-nav .ant-tabs-nav-wrap {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.movieDetails .movieDetailsShowTime .movieDetailsShowTime-container .showTime-details .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  font-size: 22px;
  color: #fa5238;
}

.movieDetails .movieDetailsShowTime .movieDetailsShowTime-container .showTime-details .ant-tabs-ink-bar {
  background: #fa5238;
}

.movieDetails .movieDetailsShowTime .movieDetailsShowTime-container .showTime-details .ant-tabs-tab:hover {
  color: #fa5238;
}

.movieDetails .movieDetailsShowTime .movieDetailsShowTime-container .showTime-details .ant-tabs-tab-btn {
  font-size: 20px;
}

@media screen and (max-width: 1024px) {
  .movieDetails .movieDetailsInfo {
    min-height: 50vh;
    height: auto;
  }
  .movieDetails .movieDetailsInfo .movieDetailsInfo-container {
    width: 80%;
  }
}

@media screen and (max-width: 768px) {
  .movieDetails .movieDetailsInfo .movieDetailsInfo-container .movieDetailsInfo-left {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .movieDetails .movieDetailsInfo .movieDetailsInfo-container .movieDetailsInfo-left .left-img,
  .movieDetails .movieDetailsInfo .movieDetailsInfo-container .movieDetailsInfo-left .left-info {
    margin: 5px 0;
    width: 100%;
  }
  .movieDetails .movieDetailsInfo .movieDetailsInfo-container .movieDetailsInfo-right {
    display: none;
  }
  .movieDetails .movieDetailsShowTime {
    padding: 0;
  }
  .movieDetails .movieDetailsShowTime .movieDetailsShowTime-container .showTime-details .showTime-container {
    border-radius: unset;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .movieDetails .movieDetailsShowTime .movieDetailsShowTime-container .showTime-details .showTime-container .showTime-logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: unset !important;
    -webkit-box-direction: unset !important;
        -ms-flex-direction: unset !important;
            flex-direction: unset !important;
    height: unset;
    overflow-x: scroll;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .movieDetails .movieDetailsShowTime .movieDetailsShowTime-container .showTime-details .showTime-container .showTime-logo .logo-item::after {
    display: none;
  }
  .movieDetails .movieDetailsShowTime .movieDetailsShowTime-container .showTime-details .showTime-container .showTime-cinema {
    width: 100%;
    border: 1px solid #d1d1d1;
  }
  .movieDetails .movieDetailsShowTime .movieDetailsShowTime-container .showTime-details .showTime-container .showTime-cinema::-webkit-scrollbar {
    display: block;
  }
  .movieDetails .movieDetailsShowTime .movieDetailsShowTime-container .info-content {
    padding: 0 20px;
  }
  .movieDetails .movieDetailsShowTime .movieDetailsShowTime-container .info-content .info-content-left,
  .movieDetails .movieDetailsShowTime .movieDetailsShowTime-container .info-content .info-content-right {
    width: 100%;
  }
}

.ticketRoom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.ticketRoom .ticketRoom-left {
  width: 75%;
  position: relative;
}

.ticketRoom .ticketRoom-left .left-header {
  background-color: white;
  -webkit-box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
          box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 20px;
  height: 70px;
}

.ticketRoom .ticketRoom-left .left-header .header-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ticketRoom .ticketRoom-left .left-header .header-info .header-logo {
  margin-right: 10px;
}

.ticketRoom .ticketRoom-left .left-header .header-info .header-logo img {
  height: 50px;
  width: 50px;
}

.ticketRoom .ticketRoom-left .left-header .header-info .header-address h4 {
  margin: 0;
}

.ticketRoom .ticketRoom-left .left-header .header-info .header-address p {
  font-size: 12px;
  color: #9b9b9b;
  margin: 0;
}

.ticketRoom .ticketRoom-left .left-header .header-countDown {
  text-align: center;
}

.ticketRoom .ticketRoom-left .left-header .header-countDown p {
  font-size: 15px;
  margin: 0;
}

.ticketRoom .ticketRoom-left .left-header .header-countDown span {
  font-size: 20px;
  color: #fb4226;
}

.ticketRoom .ticketRoom-left .left-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: calc(100% - 70px);
}

.ticketRoom .ticketRoom-left .left-body .chooseSeat {
  margin-bottom: 50px;
  white-space: nowrap;
}

.ticketRoom .ticketRoom-left .left-body .typeOfSeat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.ticketRoom .ticketRoom-left .left-body .typeOfSeat .typeOfSeat-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 10px;
}

.ticketRoom .ticketRoom-left .left-body .chooseSeat .seat,
.ticketRoom .ticketRoom-left .left-body .typeOfSeat .seat {
  width: 35px;
  margin: 5px;
  height: 35px;
  border: none;
  border-radius: 5px;
}

.ticketRoom .ticketRoom-left .left-body .chooseSeat .vipSeats,
.ticketRoom .ticketRoom-left .left-body .typeOfSeat .vipSeats {
  background-color: #fdb328;
}

.ticketRoom .ticketRoom-left .left-body .chooseSeat .bookedSeats,
.ticketRoom .ticketRoom-left .left-body .typeOfSeat .bookedSeats {
  background: #383636;
  color: white;
  cursor: no-drop !important;
}

.ticketRoom .ticketRoom-left .left-body .chooseSeat .bookingSeat,
.ticketRoom .ticketRoom-left .left-body .typeOfSeat .bookingSeat {
  background: green;
  color: white;
}

.ticketRoom .ticketRoom-left .left-body .chooseSeat span,
.ticketRoom .ticketRoom-left .left-body .typeOfSeat span {
  text-align: center;
}

.ticketRoom .ticketRoom-right {
  position: relative;
  height: 100vh;
  width: 25%;
  -webkit-box-shadow: 0 0 15px #0000004d;
          box-shadow: 0 0 15px #0000004d;
}

.ticketRoom .ticketRoom-right .ticketInfo {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  border: 2px dashed gray;
}

.ticketRoom .ticketRoom-right .ticketInfo .ticketInfo-top .ticketInfo-price {
  text-align: center;
  font-weight: bold;
  font-size: 40px;
  color: #2bff7a;
}

.ticketRoom .ticketRoom-right .ticketInfo .ticketInfo-top .ticketInfo-details {
  padding: 40px 0;
  margin: 40px 0;
  border-top: 2px dashed gray;
  border-bottom: 2px dashed gray;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.ticketRoom .ticketRoom-right .ticketInfo .ticketInfo-top .ticketInfo-details .details-left {
  height: 250px;
  width: 180px;
}

.ticketRoom .ticketRoom-right .ticketInfo .ticketInfo-top .ticketInfo-details .details-right {
  width: calc(100% - 200px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.ticketRoom .ticketRoom-right .ticketInfo .ticketInfo-top .ticketInfo-details .details-right .right-nameMovie {
  font-weight: bold;
  font-size: 35px;
  color: black;
}

.ticketRoom .ticketRoom-right .ticketInfo .ticketInfo-top .ticketInfo-details .details-right .right-nameTheater,
.ticketRoom .ticketRoom-right .ticketInfo .ticketInfo-top .ticketInfo-details .details-right .right-showTime {
  font-size: 17px;
  font-weight: bold;
}

.ticketRoom .ticketRoom-right .ticketInfo .ticketInfo-top .ticketInfo-details .details-right .right-nameTheater p,
.ticketRoom .ticketRoom-right .ticketInfo .ticketInfo-top .ticketInfo-details .details-right .right-showTime p {
  font-weight: normal;
  margin: 0;
}

.ticketRoom .ticketRoom-right .ticketInfo .ticketInfo-top .ticketInfo-seat,
.ticketRoom .ticketRoom-right .ticketInfo .ticketInfo-top .ticketInfo-seatMoblie {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  font-size: 20px;
  font-weight: bold;
}

.ticketRoom .ticketRoom-right .ticketInfo .ticketInfo-top .ticketInfo-seat .seatList,
.ticketRoom .ticketRoom-right .ticketInfo .ticketInfo-top .ticketInfo-seatMoblie .seatList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.ticketRoom .ticketRoom-right .ticketInfo .ticketInfo-top .ticketInfo-seat .seatList p,
.ticketRoom .ticketRoom-right .ticketInfo .ticketInfo-top .ticketInfo-seatMoblie .seatList p {
  font-weight: normal;
  margin: 0;
}

.ticketRoom .ticketRoom-right .ticketInfo .ticketInfo-top .ticketInfo-seatMoblie {
  display: none;
}

.ticketRoom .ticketRoom-right .ticketInfo .ticketInfo-btn {
  opacity: 1;
  width: 100%;
  padding: 20px;
  background-image: -webkit-gradient(linear, left top, right top, from(#2bff7a), color-stop(51%, #28b9ff), to(#84fab0));
  background-image: linear-gradient(to right, #2bff7a 0%, #28b9ff 51%, #84fab0 100%);
  border: none;
  border-radius: 10px;
  font-weight: bold;
  font-size: 30px;
  color: white;
  outline: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-size: 200% auto;
}

.ticketRoom .ticketRoom-right .ticketInfo .ticketInfo-btn:hover {
  background-position: right center;
}

.ticketRoom .ticketRoom-right .ticketInfo .ticketInfo-btn:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

@media screen and (max-width: 1024px) {
  .ticketRoom {
    height: 100vh;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .ticketRoom .ticketRoom-left {
    width: 100%;
  }
  .ticketRoom .ticketRoom-left .left-body {
    padding: 20px;
  }
  .ticketRoom .ticketRoom-left .left-body .screen {
    width: 100%;
  }
  .ticketRoom .ticketRoom-right {
    width: 100%;
    height: auto;
  }
  .ticketRoom .ticketRoom-right .ticketInfo .ticketInfo-top .ticketInfo-price {
    display: none;
  }
  .ticketRoom .ticketRoom-right .ticketInfo .ticketInfo-top .ticketInfo-details {
    margin: 0;
    padding: 10px 0;
    border: none;
  }
  .ticketRoom .ticketRoom-right .ticketInfo .ticketInfo-top .ticketInfo-details .details-right {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .ticketRoom .ticketRoom-right .ticketInfo .ticketInfo-top .ticketInfo-details .details-right .ticketInfo-seatMoblie {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .ticketRoom .ticketRoom-right .ticketInfo .ticketInfo-top .ticketInfo-details .details-right .right-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .ticketRoom .ticketRoom-right .ticketInfo .ticketInfo-top .ticketInfo-seat {
    display: none;
  }
}

@media screen and (max-Width: 768px) {
  .ticketRoom .ticketRoom-left .left-body .chooseSeat {
    width: 100%;
    overflow-x: scroll;
  }
  .ticketRoom .ticketRoom-right .ticketInfo .ticketInfo-top .ticketInfo-details .details-left {
    display: none;
  }
  .ticketRoom .ticketRoom-right .ticketInfo .ticketInfo-top .ticketInfo-details .details-right {
    width: 100%;
  }
}

.adminMovieManager .titile {
  font-size: 30px;
}

.adminMovieManager .adminEdit {
  text-align: center;
}
/*# sourceMappingURL=main.css.map */