.application {
  padding: 120px 0 80px 0;
  background-size: contain;
  background-repeat: no-repeat;
  background-size: cover;
  .app-container {
    max-width: 940px;
    margin: auto;
    display: flex;
    align-items: center;
    .app-left {
      width: 50%;
      h2 {
        font-size: 32px;
        color: #fff;
      }
      p {
        font-size: 16px;
        color: #fff;
      }
      a {
        background-color: #fb4226;
        padding: 10px 20px;
        color: #fff !important;
        font-size: medium;
        font-weight: 700;
        border: none;
        border-radius: 4px;
      }
    }
    .app-right {
      position: relative;
      width: 50%;
      .app-mobile {
        padding: 0 28%;
        width: 100%;
      }
      .app-slider {
        position: absolute;
        padding: 1.5% 29.3% 0 29.3%;
        top: 0;
        left: 0;
        width: 100%;
        overflow: hidden;
        .slick-list {
          border-radius: 20px;
          .carousel-item {
            img {
              width: 100%;
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 1024px) {
  .application {
    .app-container {
      padding: 0px 50px;
    }
  }
}
@media screen and (max-width: 768px) {
  .application {
    padding: 20px;
    .app-container {
      padding: 0;
      flex-direction: column;
      .app-left,
      .app-right {
        width: 100%;
      }
      .app-left {
        margin-bottom: 20px;
      }
    }
  }
}
