.carousel {
  margin-top: 60px;
  .slick-prev {
    z-index: 9;
    left: 25px;
    width: 50px;
    height: 50px;
  }
  .slick-next {
    z-index: 9;
    right: 25px;
    width: 50px;
    height: 50px;
  }
  .slick-prev:before,
  .slick-next:before {
    display: none;
    font-size: 50px;
  }
  &:hover {
    .slick-prev:before,
    .slick-next:before {
      display: block;
    }
    .carousel-item {
      .carousel-play {
        display: block;
      }
    }
  }
  .slick-dots {
    bottom: 50px;
    .slick-active {
      button:before {
        opacity: 1;
        color: #fb4226;
      }
    }
    button:before {
      opacity: 1;
      font-size: 20px;
      color: white;
    }
  }
  .carousel-item {
    position: relative;
    height: 800px;
    .carousel-background {
      height: 100%;
      width: 100%;
    }
    .carousel-play {
      display: none;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      transition: all 0.3s;
      &:hover {
        opacity: 0.7;
        background-color: unset;
      }
    }
  }
}
@media screen and (max-width: 1024px) {
  .carousel {
    .slick-prev,
    .slick-next {
      display: none !important;
    }
    .slick-dots {
      bottom: 15px;
    }
    .carousel-item {
      height: 300px;
    }
  }
  .css-1xp487g {
    width: 90% !important;
    height: 400px !important;
  }
}
@media screen and (max-width: 768px) {
  .carousel {
    display: none;
  }
}
