.movieTheater {
  max-width: 940px;
  margin: auto;
  background-size: contain;
  background-repeat: no-repeat;
  padding-top: 120px;
  .movieTheater-container {
    width: 100%;
    border: 1px solid #d1d1d1;
    border-radius: 5px;
    height: 540px;
    display: flex;
    .theater-logo {
      height: 100%;
      overflow-y: scroll;
      width: 90px;
      &::-webkit-scrollbar {
        display: none;
      }
      .logo-item {
        position: relative;
        cursor: pointer;
        padding: 20px;
        opacity: 0.5;
        &::after {
          content: "";
          position: absolute;
          bottom: 0;
          left: 50%;
          width: calc(100% - 40px);
          transform: translateX(-50%);
          border-bottom: 1px solid #d1d1d1;
        }
      }
      .logo-item.active {
        opacity: 1;
        background-color: #efefef;
        &::after {
          border-bottom: 2px solid #fb4226;
          box-shadow: 0 -3px 10px 0 #fb4226;
        }
      }
    }
    .theater-cluster {
      height: 100%;
      overflow-y: scroll;
      width: 40%;
      border-left: 1px solid #d1d1d1;
      border-right: 1px solid #d1d1d1;
      &::-webkit-scrollbar {
        display: none;
        width: 3px;
        background-color: #ddd;
      }
      &::-webkit-scrollbar-thumb {
        background-color: rgb(160, 160, 160);
      }
      &:hover {
        &::-webkit-scrollbar {
          display: block;
        }
      }
      .cinemaByCode-item {
        position: relative;
        display: flex;
        justify-content: space-between;
        padding: 16px 20px;
        cursor: pointer;
        opacity: 0.5;
        &::after {
          content: "";
          position: absolute;
          bottom: 0;
          left: 50%;
          width: calc(100% - 40px);
          transform: translateX(-50%);
          border-bottom: 1px solid #d1d1d1;
        }
        &:hover {
          background-color: #f0f0f0;
        }
        .cinemaByCode-logo {
          width: 50px;
          height: 50px;
        }
        .cinemaByCode-info {
          width: calc(100% - 60px);
          text-align: left;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          .info-name {
            font-size: 14px;
            font-weight: bold;
            color: #000;
            margin: 0;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
          .info-address {
            font-size: 12px;
            color: #949494;
            margin: 0;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
          .info-detail {
            color: #fb4226;
            font-size: 12px;
            margin: 0;
          }
        }
      }
      .cinemaByCode-item.active {
        opacity: 1;
        background-color: #efefef;
        &::after {
          border-bottom: 2px solid #fb4226;
          box-shadow: 0 -3px 10px 0 #fb4226;
        }
      }
    }
    .theater-showtime {
      width: calc(100% - 40% - 90px);
      height: 100%;
      overflow-y: scroll;
      &::-webkit-scrollbar {
        display: none;
        width: 3px;
        background-color: #ddd;
      }
      &::-webkit-scrollbar-thumb {
        background-color: rgb(160, 160, 160);
      }
      &:hover {
        &::-webkit-scrollbar {
          display: block;
        }
      }
      .warning {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 25px;
        height: 100%;
      }
      .item-info {
        margin: 20px;
        border-bottom: 1px solid #ccc;
        .info-top {
          display: flex;
          img {
            width: 70px;
            height: 70px;
            margin-right: 20px;
          }
          .top-name {
            margin: 0;
          }
        }
        .info-bottom {
          padding: 10px 0;
          .btn-time {
            color: black;
            display: inline-block;
            font-weight: bold;
            font-size: 15px;
            margin: 0 10px 10px 0;
            padding: 5px 17px;
            border-radius: 4px;
            background-image: linear-gradient(
              to right,
              #f6cb3b 0%,
              #ff6048e1 51%,
              #fbce37 100%
            );
            transition: 0.5s;
            background-size: 200% auto;
            &:hover {
              background-position: right center;
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 1024px) {
  .movieTheater {
    padding: 50px 20px 0;
  }
}
@media screen and (max-width: 768px) {
  .movieTheater {
    .movieTheater-container {
      height: 750px;
      flex-direction: column;
      .theater-logo {
        width: 100%;
        display: flex;
        overflow-x: scroll;
        height: unset;
        min-height: 90px;
      }
      .theater-cluster {
        width: 100%;
        border-left: unset;
        border-right: unset;
        border-top: 1px solid #d1d1d1;
        border-bottom: 1px solid #d1d1d1;
      }
      .theater-showtime {
        width: 100%;
      }
    }
  }
}
